
Recommender System/initial_data_files/datausers.txt
Recommender System/initial_data_files/datacourses.txt
Recommender System/initial_data_files/usersCoursesTaken.txt
Recommender System/results_txt/secondresults.txt
Recommender System/results_txt/readMe.txt
Recommender System/results_txt/firstresults.txt
Recommender System/initial_data_files/users_implicit_data.csv
Recommender System/initial_data_files/courses_item_features.csv
